{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
                <form class="row g-3 login-content" method="post"> {% csrf_token %}
                    <div class="mb-3 row">
                        <h2>Dodaj post</h2>
                    </div>
                    {{ form.as_p }}
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}